<!-- block edit modal -->
<div class="modal fade" id="edit_heroes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" id="edit_heroes_content">

      </div>
      <div class="modal-footer">
        <div class="text-center">
          <a href="/" class="btn btn-primary btn-lg btn-block">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
