<a href="#" data-dismiss="modal" class="pull-right"><i class="fa fa-times"></i></a>
<fieldset id="edit_heroes_list">
  <legend>
    Hero Images
    <a id="random_hero" class="hide btn btn-sm btn-info <%= @current_website.random_hero ? '':'inverse'%>" data-remote="true" href="/websites/<%= @current_website.id %>/random_hero">
      Randomize order
    </a>
  </legend>
  <div class="well well-dashed well-lg text-center">
    <span class="btn btn-success btn-lg fileinput-button">
        <span>Upload Hero Image</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="hero_uploader" type="file" name="hero_image[asset]" multiple>
    </span>
  </div>
  <div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <!-- The global progress bar -->
    <div id="progress" class="hide progress form-group">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <%# link_to 'Remove Logo', logo_path(@website.logo), method: :delete, class: 'btn btn-danger', remote: true if @website.logo.asset.present? %>
  </div>
  <div class="text-muted panel panel-default panel-body">
    <i class="fa fa-image"></i> Drag hero image blocks to reorder
  </div>


  <div class="row" id="hero_images">
    <div class="clearfix" ng-if="$index % 3 == 0">
    </div>
    <div id="sortable_heros">
      <% @website.hero_images.each do |hero| %>
        <%= render 'websites/edit_heroes_hero', hero: hero%>
      <% end %>
    </div>
    <script type="text/javascript">
      $( "#sortable_heros" ).sortable();
      $( "#sortable_heros" ).sortable({
        placeholder: "ui-state-highlight",
        tolerence: 'intersect'
      });
      $( "#sortable_heros" ).on( "sortupdate", function( event, ui ) {
        // console.log(event);
        var id,url,position,item;
        id = ui.item.context.dataset.id;
        url = "/hero_images/" + id + ".js";
        position = $(ui.item).index() + 1;
        item = {'hero_image':{'position': position}};
        $.ajax({
            url: url,
            type: 'PUT',
            data: item,
            success: function(result) {
                // Do something with the result
            }
        });
      });
    </script>
    <style>
      #sortable_heros {list-style-type: none; margin: 0; padding: 0;}
      #sortable_heros li {margin: 0 5px 5px 5px;padding: 5px;font-size: 1.2em;height: 1.5em;}
      html>body #sortable_heros li {height: 1.5em;line-height: 1.2em;}
      .ui-state-highlight {height: 200px;border-radius: 4px;border: 1px dashed #ccc;line-height: 1.2em;width: 100%;display: block;clear: both;margin-bottom: 20px;}
    </style>
  </div>

</fieldset>
