<div id="bg_color">
  <label>Background Color</label>
  <%= f.text_field :bg_color, class: 'form-control color', id: 'color', name: 'block[bg_color]' %>
  <script type="text/javascript">
    $("#color").colorpicker();
  </script>
  <br/>
  <br/>
</div>
