<div id="link">
  <div class="dt-label">
    Link
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :link, class: 'form-control', placeholder: 'http://example.com or /pages/about' %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :link_text, class: 'form-control', placeholder: 'Learn more' %>
      </div>
    </div>
  </div>
</div>
