
<div class="row form-group">
  <% if can? :edit, block.form%>
  <div class="col-sm-8 col-sm-push-2 text-right">
    <%= link_to '<i class="fa fa-pencil"></i> Edit Form'.html_safe, edit_form_path(block.form, return_to: "#{request.fullpath}##{dom_id(block)}"), class: 'btn btn-sm btn-primary' %>
  </div>
  <% end %>
  <div class="col-sm-8 col-sm-push-2   text-left">
    <%= render 'forms/form_response', "@form_response": block.form.form_responses.build %>
  </div>
</div>
