<% blocks.each do |block| %>
  <% cache [current_user, block, block.blocks, block.form, block.form.try(:questions), block.category, block.category.try(:pages)] do %>
    <div id="<%= dom_id(block) %>" data-id="<%=block.id%>">
      <% unless block.is_empty %>
        <% if lookup_context.find_all("blocks/#{block.block_type}/_#{block.block_type}_blocks_partial.html.erb").any? %>
          <%= render "blocks/#{block.block_type}/#{block.block_type}_blocks_partial", block: block %>
        <% else %>
          <%= render 'blocks/main_blocks_partial', block: block %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
