<% blocks.each do |block| %>
  <div class="form-group block-<%= block.id %>">
    <% if block.block_type == 'navigation'%>
      <%= render 'blocks/nav_block', block: block, '@page': @page %>
    <% else %>
      <div class="block-container">
        <%= render 'blocks/block', block: block %>
      </div>
      <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_block_path(block), remote: true, class: 'btn btn-xs' if can? :update, block  %>
    <% end %>
  </div>
<% end %>
