<!-- block edit modal -->
<div class="modal fade" id="edit_block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="edit_block_content">
          <!-- block content gets added here -->
        </div>
      </div>
    </div>
  </div>
</div>
