<% if can? :update, @page %>
  <div class="btn-group form-group page_edit_links">
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_page_path(@page), remote: true, class: 'btn-sm btn-circle btn btn-primary' %>
  </div>
<% end %>
