<!-- page edit modal -->
<div class="modal fade" id="edit_page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="edit_page_content">
      <!-- content gets loaded in here via ajax -->
    </div>
  </div>
</div>
