<div class="row">
  <div id="images" class="col-sm-12">
    <% if @page.image.present? %>
      <%= render 'images/image', image: @page.image %>
    <% end %>
  </div>
</div>

<span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Select image file...</span>
    <input id="fileupload" type="file" name="image[asset]">
</span>

<br/>

<div id="files" class="files"></div>

<div id="progress" class="hide progress">
    <div class="progress-bar progress-bar-success"></div>
</div>

<script>
  /*jslint unparam: true */
  /*global window, $ */
  $(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    $('#fileupload').fileupload({
      dataType: 'script',
      url: '/images',
      type: 'POST',
      dropZone: $('#images_zone'),
      multipart: true,
      add: function(e, data) {
        data.formData = { 'image[attachable_id]': <%= @page.id %>, 'image[attachable_type]': 'Page' <%= ", 'id': #{@page.image.id}".html_safe if @page.image.present? %> };
        var file, types;
        types = /(\.|\/)(gif|jpe?g|png)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name)) {
          data.context = $('<div>' + file.name + '</div>');
          $('#files').append(data.context);
          return data.submit();
        } else {
          return alert(file.name + " is not a gif, jpeg, or png image file");
        }
      },
      progress: function(e, data) {
        var progress;
        if (data.context) {
          progress = parseInt(data.loaded / data.total * 100, 10);
          $('.progress').removeClass('hide');
          return $('.progress-bar').css('width', progress + '%');
          console.log(progress)
        }
      },
      done: function(e, data){
        if (data.context) {
          console.log('done')
          $('.progress').addClass('hide');
          return data.context.remove();
        }
      }
    });
  });
</script>
