<% if pages.present? %>
  <div class="media-list">
    <% pages.each do |page| %>
      <div class="row media media-<%= page.id %>">
        <% if page.image.present? %>
          <div class="col-sm-4 form-group">
            <%= link_to (image_tag page.image.medium, class: 'media-object'), page_path(page, 'redirect') %>
          </div>
        <% end %>
        <div class="col-sm-8">
          <h4 class="media-heading"><%= link_to page.name, page_path(page, 'redirect') %></h4>
          <%= truncate(strip_tags(page.description || page.about), :length => 250) if page.about.present?%>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
