<div class="form-group">
  <h4>Questions</h4>
  <div id="questions">
    <% @form.questions.each_with_index do |question, index| %>
      <%= render 'forms/form_questions_question', question: question, index: index %>
    <% end %>
  </div>
  <%= link_to '+ Add question',
              "/partials/add?partial=forms/form_questions_question&list=questions&model=question",
              class: "btn btn-primary btn-sm",
              remote: true,
              method: 'POST' %>
  <hr/>
</div>
<script type="text/javascript">

var sort = Sortable.create(document.getElementById('questions'), {
  animation: 150,
  onSort: function(evt){
    console.log(evt);
    // console.log(event);
    $.each(evt.target.children, function( index, value ) {
      var position;
      position = $(evt.target.children[index]).index();
      $(evt.target.children[index]).find('.position input').val(index + 1);
    });
  }
});


</script>
