<div class="row">
  <div class="col-md-8 col-md-push-2">
    <br/>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>New Form</strong>
      </div>
      <div class="panel-body">
        <%= render 'form', form: @form %>
      </div>
    </div>
  </div>
</div>
