
/* minified css reset */
article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}a,hr{padding:0}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}button,input[type='button'],input[type='submit']{background-color:transparent;border:0;font-size:1em;line-height:100%;padding:0;margin:0;}


body {
  font-family: 'Helvetica Neue','Arial', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.4;
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
  width: 960px;
  max-width: 100%;
  box-sizing : border-box;

}

.container-full {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin:.6em 0 .4em 0;
  color: #000;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
  opacity: .8;
}

h3 {
  font-size: 1.5em;
  opacity: .6;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0 0 1em;
}

a {
  color: #009bff;
  text-decoration: none;
}

section, header, footer, aside{
  padding: 1.2em 0 0;
  overflow: visible;
  width: 100%;
  box-sizing : border-box;
}

section:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

ul, ol {
  padding: 0 0 0 2em;
  margin: 0 0 .6em;
}

li {
  margin: 0 0 .4em;
}

button, a.button {
  padding: .5em 1.4em .4em;
  background-color: #009bff;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  margin: 0 0 4px;
  transition: .2s box-shadow;
  outline: 0;
}

button:focus, a.button:focus {
  box-shadow: 0px -100px 0px rgba(0,0,0,.4) inset;
}

button:disabled, input:disabled, a.disabled {
  background-color: #ddd !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  color: #999 !important;
  border: none !important;
}


button.inverse:hover, .button.inverse:hover {
  background-color: #009bff;
  color: #fff;
}

button.inverse, a.button.inverse {
  border: 1px solid #009bff;
  color: #009bff;
  background: transparent;
  box-shadow: none;
}


button.small, a.button.small {
  font-size: .9em;
  padding: .4em 1em .3em;

}

button.large, a.button.large {
  font-size: 1.2em;
  padding: .65em 2em;

}

button:not(.inverse):hover, a.button:not(.inverse):hover {
  box-shadow: 0px -100px 0px rgba(0,0,0,.5) inset;
  cursor: pointer;
}

button:active, a.button:active {
  box-shadow: 0px -100px 0px rgba(255,255,255,.5) inset;
}

.full {
  width: 100%;
  display: block;
  box-sizing : border-box;
}

nav {
  height: 3.6em;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #f3f3f3;
  position: relative;
  z-index: 9999;
}

.fixed-nav > .container{
  top: 3.5em;
  position: relative;
}

.fixed-nav nav {
  position: fixed;
  top: 0;
}

.top{
  top:0;
}

.bottom {
  bottom:0
}

nav .nav-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing : border-box;
}

nav .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing : border-box;
}

.top-menu > ul {
  list-style-type: none;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  position: absolute;
  z-index: 999;
  clear: both;
  width: 100%;
  margin-top: -10px;
  top: -10000px;
  text-align: center;
  left: 0;
  right: 0;
  background: #fafafa;
  transition: .2s;
  opacity: 0;
  -webkit-transition: opacity .2s;
     -moz-transition: opacity .2s;
      -ms-transition: opacity .2s;
       -o-transition: opacity .2s;
          transition: opacity .2s;
}

.hamburger {
    border-bottom: 6px double black;
    border-top: 2px solid black;
    height: 2px;
    left:1em;
    opacity: .6;
    margin-top: 5px;
    position: absolute;
    width:10px;
}

div.top-menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding-right: 0em;
}

.top-menu > ul > li > a,
.top-menu a.toggle {
  display: block;
  color: #333;
  margin:0px;
  padding: 1.15em 1em;
  box-shadow: 0px 100px 0px rgba(0,0,0,0) inset;
  transition: .2s box-shadow;
}

.top-menu > ul > li {
  position:relative;
  float: none;
  display: block;
  box-sizing : border-box;
}

.top-menu > ul > li > ul li:hover{
  background-color: #ddd;
}


.top-menu ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.top-menu ul a
{
	display:block;
}

.top-menu ul a.active
{
  box-shadow: 0px 100px 0px rgba(0, 0, 0, 0.05) inset;
}

.top-menu ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
  box-sizing : border-box;
}

.top-menu ul li:hover
{
}

.top-menu ul ul
{
	display:none;
	left:0;
  background-color: #eee;
  margin:0px;
  text-align: left;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 999;
  min-width: 120px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.top-menu ul li:hover > ul
{
  display:block;
  left:0;
  max-height: 0px;
  /*overflow: scroll;*/
  background-color: #eee;
  text-align: center;
  padding: 0;
  position: absolute;
  z-index: 999;
  min-width: 100%;
  box-shadow: none;
  transition: .5s;
}

.table-container {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  border-radius: 3px 3px 0 0 ;
  overflow: hidden;
}

table td,
table th {
  padding: .4em 1em;
}

table > thead > tr > th {
  background-color: #555;
  line-height: 1em;
  padding-top: 1.3em;
  color: #fff;
  text-align: left;
  font-weight: 400;
  vertical-align: bottom;
  font-size: .9em;
}

table > thead > tr > th:not(:last-child) {
  border-right: 1px solid #999;
}

table > tbody > tr:nth-child(even){
  background-color: #f9f9f9;
}

table > tbody > tr:hover {
  background-color: #eee;
}

table > tbody > tr > td {
  font-size: .9em;
  vertical-align: middle;
}


@media only screen and (max-width: 768px) {

  .top-menu ul li:hover > ul
  {
    position: relative;
  }
  .top-menu.open > ul {
    opacity: 1;
    position: fixed;
    top: 0em;
    margin-top: 0px;
    box-shadow: 0px 10px 100px rgba(0,0,0,0.9);
    overflow: auto;
    max-height: 95%;
    width: 80%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
  }


  .top-menu ul ul li
  {
  	float:none;
  	min-width:200px;
  }
  .top-menu.open a.toggle {
    opacity: .5;
  }
  .top-menu ul li.has-menu > a{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") !important;
    -webkit-background-size: 9px 6px !important;
    background-size: 9px 9px !important;
    background-position: right .5em center !important;
    -webkit-background-origin: content-box !important;
    background-origin: content-box !important;
    background-repeat: no-repeat !important;
  }

  .top-menu ul li.has-menu:hover > a{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='16,0 32,24 0,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") !important;
  }

  .top-menu.open > ul > li {
    float: none;
    box-sizing : border-box;
  }

  .top-menu.open > ul > li:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
    box-sizing : border-box;
  }


}

.top-menu ul ul li
{
	float:none;
	min-width:200px;
}

.top-menu ul ul li div
{
	padding: .3em .5em;
}

.top-menu ul ul li:not(:last-child)
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
}

.top-menu ul ul a
{
	line-height:120%;
	padding: .8em .8em;
  font-size: .9em;
}



.top-menu ul li:hover > ul
{
	max-height: 500px;
}

.top-menu > ul > li > div > a  {
  position: relative;
  padding: .4em 1em;
  display: block;
  width: 100%;
  box-sizing : border-box;
}

.top-menu > ul > li > div {
  width: 100%;
  padding: 0 1em;
  margin: .75em 0;
  display: inline-block;
  box-sizing : border-box;
}

.top-menu a.toggle {
  float: right;
  display: inline-block;
  right: 0;
  width: auto;
  letter-spacing: -.04em;
  position: relative;
  text-transform: uppercase;
  padding: 1.3em .7em 1.35em 2.1em;
  top: -.1em;
  border-radius: 0px;
  font-size: .9em;
  margin-top: .1em;
  opacity: 1;
  transition: .2s;
  border-left: 0px solid rgba(0,0,0,0.3);
  box-shadow: 0px 100px 0px rgba(0,0,0,0.05) inset;

}

.top-menu a.toggle:hover {
  box-shadow: 0px 100px 0px rgba(0,0,0,.1) inset;

}

.top-menu > ul > li:hover > a {
  box-shadow: 0px 100px 0px rgba(0,0,0,.1) inset;
}

.top-menu > ul > li > a:active {
  box-shadow: 0px 100px 0px rgba(0,0,0,.05) inset;
}

/* Columns */
.row {
  display: block;
  clear: both;
  width: 100%;
  overflow: auto;
  box-sizing : border-box;
}

/* For mobile phones: */
[class*="columns-"] {
    overflow: auto;
    width: 100%;
    box-sizing : border-box;
    display: block;
    float: left;
}

.top-menu {
  /*display: none;*/
  display: relative;
}

ul.top-menu > li {

}

.hide-small {
  display: none;
}

pre {
    display: block !important;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fafafa;
    margin: 1em 0;
    padding: 1em;
    white-space: pre  !important;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: auto  !important;
}



@media only screen and (min-width: 768px) {

    /*.top-menu {
      visibility: visible;
    }*/
    .top-menu ul li.has-menu > a{
      padding-right: 2em !important;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") !important;
      -webkit-background-size: 9px 6px !important;
      background-size: 9px 9px !important;
      background-position: right -1em center !important;
      -webkit-background-origin: content-box !important;
      background-origin: content-box !important;
      background-repeat: no-repeat !important;
    }

    .top-menu ul li.has-menu:hover > a{
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='16,0 32,24 0,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") !important;
    }

    .hide-small {
      display:inherit;
    }

    div.top-menu {
        position: relative;
        left: auto;
        right: auto;
        padding-right: 0;
    }

    .top-menu > ul > li:last-child > div > a  {
      margin-right: 0;
    }
    .top-menu > ul > li ul {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) !important;
    }

    .top-menu > ul{
      display: block;
      position: relative;
      text-align: center;
      left: auto;
      right: auto;
      background: transparent;
      opacity: 1;
      top: auto;
      border-radius: 0px;
      margin-top: 0px;
      box-shadow: none;
      width: auto;
      transform: translateY(0%);

    }

    .top-menu > ul > li{
      float: left;
      border-bottom: none;
    }

    a.toggle {
      display: none !important;
    }

    /* For desktop: */
    *[class^="columns-"]:not(:last-child), *[class*=" columns-"]:not(:last-child) {
      padding-right: 1.4em;
    }

    .columns-1 {
      width: 8.33%;
    }
    .columns-2 {
      width: 16.66%;
    }
    .columns-3 {
      width: 25%;
    }
    .columns-4 {
      width: 33.33%;
    }
    .columns-5 {
      width: 41.66%;
    }
    .columns-6 {
      width: 50%;
    }
    .columns-7 {
      width: 58.33%;
    }
    .columns-8 {
      width: 66.66%;
    }
    .columns-9 {
      width: 75%;
    }
    .columns-10 {
      width: 83.33%;
    }
    .columns-11 {
      width: 91.66%;
    }
    .columns-12 {
      width: 100%;
    }
}


/* Forms */

form, .form {
  margin: 0 0 1em;
}

label {
  font-weight: 500;
  padding: 0 0 .1em;
  display: inline-block;
  transition: opacity .2s;
}

select {
  height: 2.4375rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: normal;
  color: #0a0a0a;
  background-color: #fefefe;
  border-radius: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>") !important;
  -webkit-background-size: 9px 6px !important;
  background-size: 9px 9px !important;
  background-position: right -1em center !important;
  -webkit-background-origin: content-box !important;
  background-origin: content-box !important;
  background-repeat: no-repeat !important;
  padding-right: 1.5rem !important;
}
@media screen and (min-width: 0\0) {

  select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed;
  }
  select::-ms-expand {
    display: none;
  }
  select[multiple] {
    height: auto;
    background-image: none;
  }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input[type='text'], textarea, select {
  display: block;
  background: #fff;
  position: relative;
  padding: .6em .4em;
  font-size: 1em;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0px 1px 0px #666;
  margin: 0 0 .8em;
  box-sizing : border-box;
  transition: .2s box-shadow ease-in;
}

textarea {
  line-height: 1.4em;
}

input[type='text']:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 2px 0px #009bff;
  outline: 0 !important;
}

.input-help {
  color: #333;
  opacity: .4;
  font-size: .9em;
  margin-top: -.6em;
  margin-bottom: .6em;
  transition: .2s;
}
.errors .input-help,
.input-help .errors {
  color: #ff3300;
}

input[type='text']:focus + .input-help,
textarea:focus + .input-help,
select:focus + .input-help,
*:hover > .input-help {
  opacity: 1;
  margin-left: .1em;
}

.errors input[type='text'], .errors textarea, .errors select,
input[type='text'].errors, textarea.errors, select.errors {
  box-shadow: 0px 2px 0px #ff3300;
}
.errors label, label.errors {
  color: #ff3300;
}

.success input[type='text'], .success textarea, .success select,
input[type='text'].success, textarea.success, select.success {
  box-shadow: 0px 2px 0px #00cc66;
}

/* style overrides */

*.success-text {
  color: #00cc66 !important;
}

*.success-bg,
*.success-bg.inverse:hover {
  background-color: #00cc66 !important;
  color: #fff !important;
}

*.success-bg.inverse {
  border: 1px solid #00cc66 !important;
  color: #00cc66 !important;
  background-color: transparent !important;
}

*.warning-bg,
*.warning-bg.inverse:hover {
  background-color: #ff9933 !important;
  color: #fff !important;
}

*.warning-bg.inverse {
  border: 1px solid #ff9933 !important;
  color: #ff9933 !important;
  background-color: transparent !important;
}

*.danger-bg,
*.danger-bg.inverse:hover {
  background-color: #ff3300 !important;
  color: #fff !important;
}

*.danger-bg.inverse {
  border: 1px solid #ff3300 !important;
  color: #ff3300 !important;
  background-color: transparent !important;
}

.nopad {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.right {
  float: right !important;
  position: relative;
  display: block;
}

.left {
  float: left;
  display: block;
  clear: none;
}
