<% if controller_name == 'categories' %>
  <div class="category-page-count text-muted text-right form-group small">
    Viewing <%= @pages.count %> <%= @category.name %> Pages
  </div>
<% end %>

<% cache [@category, @pages, current_user] do %>
  <div class="text-left">
    <% @pages.each do |page| %>
      <%= render 'categories/page_view', page: page, category: @category %>
    <% end %>
  </div>
<% end %>

<div class="text-center">
  <%= will_paginate @pages, renderer: BootstrapPagination::Rails if @pages.try(:total_pages).present?%>
</div>
