<div class="">
  <p>
    <strong>Thank you!</strong>
  </p>
  <p>
    <%= form_response.form.name %> form has been submitted.
  </p>
  <% form_response.answers.includes(:question).order('questions.position asc').each do |answer| %>
    <dl class="dl-horizontal">
      <dt>
        <%= answer.question.name %>:
      </dt>
      <dd>
        <%= answer.answer_text %>
      </dd>
    </dl>
  <% end %>
</div>
