<footer class="footer" style="max-width: <%= @current_website.style['max-width'] %>; margin: auto;">
  <div class="container">
    <%= yield :footer %>
    <div class="row">
      <div class="col-sm-6 text-muted">
        <%= @current_website.name %> &copy; <%= Time.now.year %>
      </div>
      <div class="col-sm-6 text-right-sm">
        <a href="https://rethinkwebdesign.com">Website by Rethink Web Design</a>
      </div>
    </div>
  </div>
</footer>
